#banner {
  background: #efc780;
  padding: 10px;
  border-bottom: 2px solid;
  font: 40px/40px "Arial";
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: grey;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em;
    width: 13em;
    // background: #9c947a;

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: small; 
      color: white;
      
      table {
        border-collapse: collapse;
        border-top: 1px dotted #599;
        border-bottom: 1px dotted #599;
        margin-bottom: 10px;
      }

      tr:nth-child(even), thead {  // even line color
        background-color: black;
      }
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}