/* START_HIGHLIGHT */
.products {
  table {
    border-collapse: collapse;
  }

  th { // table head
    background-color: rgb(151, 23, 23);
    color: white;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width: 100%;
    text-align: center;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size: small;
    text-align: center;
    padding-left: 1em;
  }

  .list_line_even {
    background: #c9ddf5;
  }
  .list_line_odd {
    background: #b2ddeb;
  }
}